body {
  background-color: #f0f0f0; /* Couleur de fond de la page */
  margin: 0; /* Réinitialiser la marge par défaut du corps */
  padding: 0; /* Réinitialiser le padding par défaut du corps */
}

.container {
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 20px; /* Ajout de padding pour englober tout le texte */
}

.input-table {
  width: 80%;
  margin: 0 auto 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Couleur de fond du tableau */
}

.input-table th,
.input-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #333; /* Couleur du texte dans le tableau */
}

.input-table th {
  background-color: #f2f2f2;
}

.CalculerImc-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.CalculerImc-button:hover {
  background-color: #45a049;
}

.AfficherResultat {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}
